*{
  margin: 0px;
  padding: 0;
  box-sizing: boreder-box;
}

header{
  height: 50px;
  background-color:#ff9A4B;
}

main{
  margin:50px auto;
  width:960px;
  display: flex;
}

.box{
  background-color:#eee;
  margin-right: 30px;
  width:300px;
  padding: 10px;
  position:relative;
}

.box:last-child{
  margin-right: 0;
}

.step-text{
  color:#fff;
  background-color:#ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

.h3-text{
  margin: 15px 0 5px;
}

.box-img1{
  height: 150px;
  background-image:url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.box-img2{
  height: 150px;
  background-image:url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.box-img3{
  height: 150px;
  background-image:url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  * {
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
    margin:50px auto;
  }
}


@media screen and (max-width: 768px) {
  .box{
  width:90%;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .box:last-child{
  margin-bottom:0px;
  }
}

@media screen and (max-width: 768px) {
  .box:last-child{
  }
}